body {
    background-color: #faf0e6;
    display:block;
}

/* Style page content */
.main {

    width:100%;/* Same as the width of the sidebar */
    background-color: #3CB371;
    margin: 0px 100px 0px 0px;

}


.sidenavbar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.insidenavbar {
    text-align: center;
    display: inline-block;
    margin: 0px;
}

.buttonINbar {
    margin-bottom: 20px;
}

/* The navigation menu links */
.sidenavbar asp {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavbar asp:hover {
  color: #f1f1f1;
}

#text-center {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    background-color: #98ff98;
    padding: 10px;
    height: 400px;
    width: 650px;
    margin-left: 350px;
    font-family: 'Roboto', sans-serif;
}
#profile {
    position: absolute;
    display: block;
    border-radius: 10px;
    text-align: center;
    background-color: #98ff98;
    height: 450px;
    width: 500px;
    right: 10px;
    margin-right: 5%;
    font-family: 'Roboto', sans-serif;
}

#text-center1 {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    background-color: #98ff98;
    padding: 10px;
    height: 450px;
    width: 650px;
    margin-left: 350px;
    font-family: 'Roboto', sans-serif;
}

#text-center-frontpage {
    position: absolute;
    border-radius: 10px;
    text-align: center;
    background-color: #98ff98;
    padding: 10px;
    height: 200px;
    width: 400px;
    margin-left: 350px;
    font-family: 'Roboto', sans-serif;
    z-index: 3;
}

#description {
    position: absolute;
    display:block;
    border-radius: 10px;
    background-color: #98ff98;
    padding: 0px 10px;
    height: 420px;
    width: 600px;
    bottom:15%;
    margin-left: 250px;
    font-family: 'Roboto', sans-serif;
    z-index: 3;
}

#selectquestion1 {
    width: 96px;
    margin-left: 6px;
}
#linkedin
{
    padding-right:50px;
}

.pageTitles {
    margin-top: 0px;
    background-color: #111;
    text-align: center;
    font-family: 'Noto Sans';
    color: white;
}

.auto-style1 {
    text-align: center;
    padding:5px;
   
}

.auto-style2 {
    margin-left: auto;
    margin-right: auto;
    align-content:flex-start;
}

.removebtn {
    position: absolute;
    top: 305px;
    right: 260px;
}

.addbtn {
    position: absolute;
    top: 240px;
    right: 260px;
}
.billlist {
    position: absolute;
    top: 40px;
    right:252px;
}
.selectedmemberlist {
    position: absolute;
    top: 220px;
    right: 68px;
}
.memberlist {
    position: absolute;
    top: 220px;
    right: 450px;
}
.memberlabel {
    position: absolute;
    top: 190px;
    right: 497px;
}
.center 
{
    text-align:center;
}
.billlabel {
    position: absolute;
    top: 10px;
    right: 315px;
}
.payeelabel {
    position: absolute;
    top: 190px;
    right: 125px;
}
.profilepicture 
{
    position:relative;
    height:130px;
    width:auto;
    border-radius:2%;
}

@media screen and (min-width: 1681px) {
    #profile {
        margin-right: 18%;
    }
}

@media screen and (max-width: 1440px) {
    #profile {
        margin-right: 1%;
    }

    #text-center-frontpage {
        margin-left: 200px;
    }
}

@media screen and (max-width: 1500px) {
    #description {
        margin-left: 180px;
    }
}
@media screen and (max-width: 1280px) {
    #description {
        width:550px;
        height:450px;
        bottom:20%;
    }
    #text-center-frontpage {
        margin-left: 230px;
    }
}
@media screen and (max-width: 1024px) {

    #description {
        margin-left: 235px;
    }

    #profile {
        display: none;
    }

    #text-center-frontpage {
        margin-left: 300px;
    }
}
